.navbar {
   justify-content: space-between;
   flex-direction: column;
   justify-content: center;
   background-color: #ef482a;
   align-items: center;
   padding: 10px;
   display: flex;
}

.navbar__brand {
   text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.3);
   font-family: monospace;
   text-decoration: none;
   letter-spacing: 1px;
   margin-bottom: 15px;
   font-weight: bold;
   font-size: 1.5rem;
   color: #ffffff;
   cursor: pointer;
}

ul {
   width: 60%;
   display: flex;
   color: #ffffff;
   cursor: pointer;
   align-items: center;
   justify-content: space-between;
}

.link-menu {
   color: #ffffff;
   font-size: 18px;
   font-weight: bold;
   letter-spacing: 1.3px;
   font-family: monospace;
   text-decoration: none;
}

li:hover {
   text-decoration: underline;
}

@media screen and (min-width: 1000px) {
   .navbar {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
   }

   .navbar__brand {
      margin-bottom: 0;
   }

   ul {
      width: 40%;
      justify-content: space-around;
   }
}

@media screen and (min-width: 1400px) {
   ul {
      width: 35%;
   }
}

@media screen and (min-width: 1700px) {
   ul {
      width: 27%;
   }
}
